.generic
{
  background-color:#212121;
  
}

.navbar {
  overflow: hidden;
  background-color: #006633;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius:0px 0px 15px 15px;
}

.navbar a{
  float: left;
  display: block;
  color: #ffcc33;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ffcc33;
  color: #006633;
}

.Titl
{
  color:#ffcc33;
  font-size:50px;
  font-family:DejaVu Sans Mono, monospace;
}

.boxy
{
  border-radius:10%;
  color:#ffcc33;
  margin:left;
}

.accordion {
  background-color: #006633;
  color: #ffcc33;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: black;
  display: none;
  overflow: hidden;
}
