.generic
{
  background-color:#212121;
  
}

.navbar {
  overflow: hidden;
  background-color: #006633;
  position: fixed;
  top: 0;
  width: 100%;
  border-radius:0px 0px 15px 15px;
}

.navbar a{
  float: left;
  display: block;
  color: #ffcc33;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ffcc33;
  color: #006633;
}

.Titl
{
  color:#ffcc33;
  font-size:35px;
  padding:5%;
  left:50%;
}

.Titll
{
  color:#ffcc33;
  font-size:30px;
  padding:5%;
  left:50%;
}

.boxy
{
  border-radius:10%;
  color:#ffcc33;
  margin:left;
  font-size:20px;
  background-color:#363636;
}

.accordion {
  background-color: #006633;
  color: #ffcc33;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  font-size:35px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #025c1a;
}

.panel {
  padding: 0px 18px;
  color:#ffcc33;
  font-size:20px;
  display: none;
  overflow: hidden;
}
